body {
  position: absolute;
  min-height: 95%;
  min-width: 98%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
}

h1,
form {
  font-size: 100px;
  text-align: center;
  color: #7ba7ab;
  font-family: sans-serif;
}

.bar1 {
  background: #d0c0a3;
}

.bar1 input {
  width: 1000px;
  height: 100px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  background: #f9f0da;
  color: #9e9c9c;
  font-size: 70px;
}

.bar1 button {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 305px;
  right: 100px;
  background: #7ba7ab;
  border-radius: 0 5px 5px 0;
}

.bar1 button::before {
  font-size: 16px;
  color: #f9f0da;
}

a {
  color: aliceblue;
  text-align: center;
}
