<mat-selection-list #books [multiple]="false">
    <mat-list-option (click)="choose(book.id)" *ngFor="let book of b;" [value]="book"
    (contextmenu)="onRightClick(book.id)" > 
      {{book.name}} | {{book.author}} | {{book.amount}}
    </mat-list-option>
</mat-selection-list>
 
<div *ngFor="let book of b">
  <div *ngIf="book.chosenNumber">
    {{book.name}} | {{book.chosenNumber}}
  </div>
</div>

<div class="button-row1">
  <button mat-flat-button color="primary" (click)="openEmailDialog()" [disabled]="!wasChosen()">Get Books</button>
</div>

<div class="button-row">
  <button mat-flat-button color="primary" (click)="openReturnDialog()">Return books</button>
</div>

<img class="s1" src="../assets/Image/ship.png">
<img class="s2" src="../assets/Image/money.png">
<img class="s3" src="../assets/Image/like.png">
<img class="s4" src="../assets/Image/lock.png">
<div class="ship">
  <p> Free shipping on Hungary orders<p></div>
<div class="cash">
  <p> Get paid cash<p></div>
<div class="like">
  <p> More titles accepted<p></div>
    <div class="lock">
      <p> Price valid
        for 30 days<p>
</div> 
