<mat-selection-list #books [multiple]="false">
    <mat-list-option (click)="choose(book.id)" *ngFor="let book of b;" [value]="book"
    (contextmenu)="onRightClick(book.id)" > 
      {{book.name}} | {{book.author}} | {{book.amount}}
    </mat-list-option>
  </mat-selection-list>
 
<div *ngFor="let book of b">
  <div *ngIf="book.chosenNumber">
    {{book.name}} | {{book.chosenNumber}}
  </div>
</div>

<div class="example-button-row">
  <button mat-flat-button color="primary" (click)="openEmailDialog()" [disabled]="!wasChosen()">Get Books</button>
</div>