<div>
    <h1>Thank you for renting our books!</h1>
    <h4>Please write your email and add which books you are giving back</h4>
    <input matInput placeholder="Email" [(ngModel)]="email">
    <button (click)="findBooks(email)">Find books</button>
</div>

<mat-selection-list #books [multiple]="false">
    <mat-list-option (click)="removing(book.id)" *ngFor="let book of foundBooks;" [value]="book"
    (contextmenu)="adding(book.id)" > 
      {{book.book}} | {{book.amount}}
    </mat-list-option>
</mat-selection-list>

<div>
  <button (click)="giveBooks()">Give books</button>
</div>
