<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutpage.component.css">
</head>
<body>
    <img class="bg" src="../assets/Image/bg.jpg">
    <div class="about-section">
        <h1>About Us</h1>
        <p>Our mission is to spread the usage of the hard copy books amongst the younger generation and to creat the enviroment where you can exchange your valuable books. What's better than a smell of an old book?.</p>
        
    </div>
    <h2 style="text-align: center; color: rgb(50, 50, 51); ">Our Team</h2>    
    
    <div class="img-wrap">
        <img src="../assets/Image/alper.jpg">
    </div>
    <div class="alper-text">
        <h3>Alper Meydan</h3>
        <ul>
            <li>Computer science Bsc ELTE</li>
            <li>21 years old</li>
            <li> Moscow, Russia</li>
          </ul>
    </div>
    <div class="img-wrap1">
        <img src="../assets/Image/lyhn.jpg">
    </div>
    <div class="lyhn-text">
        <h3>Lyhn Bo</h3>
        <ul>
            <li>Computer science Bsc ELTE</li>
            <li>22 years old</li>
            <li>Yantai, China</li>
          </ul>
    </div>
    <div class="img-wrap2">
        <img src="../assets/Image/odii.jpg">
    </div>
    <div class="odii-text">
        <h3>Odbayar Erdenebat</h3>
        <ul>
            <li>Computer science Bsc ELTE</li>
            <li>22 years old</li>
            <li> Darkhan, Mongolia</li>
          </ul>
    </div>

   
    
    
</body>
</html>